<html lang="en">

<head>
  <title>Nest Dash</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Nest Shenanigans">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">

  <link rel="stylesheet" href="assets/app.css">

  <link rel="shortcut icon" href="https://d2gpw04v015qcw.cloudfront.net/images/global/favicon-4609cb78.ico">
</head>

<body ng-app="myApp" layout="column" ng-controller="DashboardController as ctrl">

  <!-- Toolbar -->
  <md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools toolbar">
      <md-button class="md-icon-button" ng-click="ctrl.toggleNav()" aria-label="Menu">
        <md-tooltip>Menu</md-tooltip>
        <md-icon md-svg-icon="navigation:menu" class="hamburgerMenu"></md-icon>
      </md-button>
      <img src="assets/images/nest-logo.png" alt="Nest" height="25px" />
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Profile">
        <md-tooltip>Profile</md-tooltip>
        <md-icon md-svg-icon="social:person"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Messages">
        <md-tooltip>Messages</md-tooltip>
        <md-icon md-svg-icon="communication:message"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <section class="frame" layout="row" flex>

    <!-- Material Sidenav -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 sidenav" md-component-id="left">
      <md-content class="sidenavContent">
        <md-list>
          <a ng-repeat="item in ctrl.navItems" class="navLink">
            <md-list-item class="md-2-line navItem" ng-click="ctrl.toggleNav()">
              <md-icon md-svg-icon="{{item.svg}}" class="navIcon"></md-icon>
              <div class="md-list-item-text">
                <h3 class="navTitle"> {{ item.title }} </h3>
              </div>
            </md-list-item>
          </a>
        </md-list>
      </md-content>
    </md-sidenav>

    <!-- Main Content -->
    <md-content flex layout-padding class="mainContent">
      <div layout layout-sm="column" layout-align="space-between start" layout-align-sm="start center" layout-padding layout-margin>

        <!-- Charts -->
        <div layout="column" layout-align="start start" resize>

          <div layout layout-sm="column" layout-align="start start" layout-padding>
            <!-- City Info -->
            <div layout class="cityContainer">
              <div layout="column" layout-align="start start">
                <h2 class="city">Palo Alto, CA</h2>
                <h3 class="day">Thursday 3:00 PM</h3>
                <div layout layout-margin>
                  <md-icon md-svg-icon="image:wb_sunny" class="sun"></md-icon>
                  <div layout layout-align="start start">
                    <h1 class="temp">72</h1>
                    <h4 class="degrees">°F</h4>
                  </div>
                </div>
              </div>
            </div>

            <!-- Forecast Chart -->
            <div layout="column">
              <h3 class="day">Temperature Forecast</h3>
              <linechart data="ctrl.forecastChart.data" options="ctrl.forecastChart.config" mode="" height="200" width="{{forecastChartWidth}}"></linechart>
            </div>
          </div>

          <!-- Device Chart -->
          <div layout="column" layout-align="start start" layout-padding>
            <h2 class="deviceChart">Your Devices</h2>
            <h3 class="deviceChart">Past 24 Hours</h3>
            <linechart data="ctrl.deviceChart.data" options="ctrl.deviceChart.config" mode="" height="300" width="{{deviceChartWidth}}"></linechart>
          </div>

          <!-- Money Saved -->
          <div layout="column" layout-align="start start" layout-padding>
            <div class="moneyTitle" layout layout-align="space-between center">
              <div layout="column" layout-align="start start">
                <h2 class="deviceChart">Money Saved</h2>
                <h3 class="deviceChart">This Year</h3>
              </div>
              <md-button ng-click="ctrl.share($event)" aria-label="Share">
                <md-tooltip>Share</md-tooltip>
                <md-icon class="share" md-svg-icon="social:share"></md-icon>
              </md-button>
            </div>
            <linechart data="ctrl.moneyChart.data" options="ctrl.moneyChart.config" mode="" height="300" width="{{deviceChartWidth}}"></linechart>
          </div>

        </div>

        <!-- Devices -->
        <div layout="column" layout-align="start center">
          <h2 class="devices">Your Devices</h2>
          <div layout="column" layout-align="center center" layout-padding layout-margin>
            <img class="devicePic" src="assets/images/thermostat-74.png" alt="Thermostat" />
            <h3 class="deviceLabel">Upstairs</h3>
          </div>
          <div layout="column" layout-align="center center" layout-padding layout-margin>
            <img class="devicePic" src="assets/images/thermostat-72.png" alt="Thermostat" />
            <h3 class="deviceLabel">Downstairs</h3>
          </div>
          <div layout="column" layout-align="center center" layout-padding layout-margin>
            <img class="devicePic" src="assets/images/protect.png" alt="Protect" />
            <h3 class="deviceLabel">Kitchen</h3>
          </div>
          <div layout="column" layout-align="center center" layout-padding layout-margin>
            <md-icon md-svg-icon="content:add_box" class="deviceAdd"></md-icon>
            <h3 class="deviceLabel">Add Device</h3>
          </div>
        </div>
      </div>

    </md-content>

  </section>

  <!-- Angular Material Dependencies -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/n3-line-chart/build/line-chart.min.js"></script>

  <!-- App Dependencies -->
  <script src="dashboard/Dashboard.js"></script>
  <script src="dashboard/DashboardController.js"></script>
  <script src="dashboard/DashboardService.js"></script>
  <script src="dashboard/DashboardDirective.js"></script>
  <script src="app.js"></script>

</body>

</html>
