html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}


/* Toolbar area */
.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}
md-toolbar h1 {
  margin: auto;
}
.toolbar {
  background-image: url('images/blue-sky.jpg');
  background-size: cover;
}
.hamburgerMenu {
  color: rgba(0,0,0,.8);
}

/* Sidenav area */
.sidenav {
  background-color: #9BA7AE;
  background-image: url('images/grey-texture.png');
  background-repeat: repeat;
}

.sidenavContent {
  background: transparent;
}

.navTitle, .navIcon {
  color: #FAFAFA !important;
}

.navItem button:hover .navTitle, .navItem button:hover .navIcon {
  color: inherit !important;
  transition: background-color .4s cubic-bezier(.25,.8,.25,1);
}

.navTitle {
  margin: 0 !important;
}


/* Primary content area */
.mainContent {
  background-image: url('images/gradient-background.jpeg');
  background-size: cover;
}

.cityContainer {
  width: 200px;
}

.devicePic {
  width: 120px;
  height: 120px;
}

.deviceAdd {
  width: 100px;
  height: 100px;
  color:rgba(255,255,255,0.9);
}

.devicePic:hover, .deviceAdd:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.forecastChart {
  width: 800px;
  height: 400px;
}

.city, .day, .degrees, .devices, .deviceLabel, .deviceChart {
  font-family: arial,sans-serif-light,sans-serif;
  font-weight: lighter !important;
  color: rgb(255, 255, 255); !important;
}

.city, .day, .devices, .deviceChart {
  margin: 0 5px;
}

.sun {
  color: #FFEB3B;
  width: 40px;
  height: 40px;
}

.temp {
  font-size: 40px;
  margin:0;
  color: #ffffff;
}

.degrees {
  margin: 0;
}
